*{
    overflow-x: hidden;
}*
body{
    text-align: center;
}
.fluid{
    background-image: url(./images/backgrounds/h_img.jpg);
    background-size: cover;
    width: 100%;
    height: 630px;
    /* padding:140px; */
    text-align: center;
    /* font-size: xx-large; */
    color: white;
    font-weight: bolder;
    margin-bottom: 30px;
}
.fluid img{
    margin-top: 10%;
}

.fluid h1{
    padding-top: 20px;
    text-align: center;
}

.about{
    text-align: center;
    font-family: 'Romanesco',
}
 img{
    position: center;
}
h2,p{
    text-align: center;
}
#Design{
    display:none;
}
#fas p{
    display: none;
}
#tee p{
    display: none;
}

.services{
    background-image: url(./images/backgrounds/s_image.jpg);
    color: white;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 10%;
    padding-bottom: 10%;
   
}
.services img{
    width: 100px;
    height: 100px;
}
 #what-we-do{
    font-family: 'Stalemate',serif ;
 }   
#contacts{
    background-image: url(./images/backgrounds/c_image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 30px;
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}
input{
    width: 20%;
    background: transparent;
    color: white;
}
textarea{
    height: 530%;
    width: 40%;
    padding-bottom:5%;
    color: white;
    background: transparent;
}
.footer{
    text-align: center;
}
.set{
    margin-top: 20px;
}
#portfolio{
    margin-left: 180px;
    margin-right: 180px;
}
#fle{
    text-align: center;
}

  
  .saf {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .row:hover .image {
    opacity: 0.3;
  }
  
  .row:hover .saf {
    opacity: 1;
  }
  
  .text {
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 32px;
  } 
  .tye{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  } 
  .row:hover .kit{
    opacity: 0.3;

  }
  .row:hover .tye{
       opacity: 1;
  }
  .wed{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  } 
  .row:hover .ten{
    opacity: 0.3;

  }
  .row:hover .wed{
       opacity: 1;
  }
  .lok{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  } 
  .row:hover .hit{
    opacity: 0.3;

  }
  .row:hover .lok{
       opacity: 1;
  }
  
  .doe{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  } 
  .row:hover .jin{
    opacity: 0.3;

  }
  .row:hover .doe{
       opacity: 1;
  }
  .rej{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  } 
  .row:hover .jer{
    opacity: 0.3;

  }
  .row:hover .rej{
       opacity: 1;
  }
  .pop{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  } 
  .row:hover .moji{
    opacity: 0.3;

  }
  .row:hover .pop{
       opacity: 1;
  }
  .fit{
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;

  } 
  .row:hover .yet{
    opacity: 0.3;

  }
  .row:hover .fit{
       opacity: 1;
  }
  .submit{
      width: 10%;
      height: 5%;
  }
  
  
  